# ======================
# PYTHON / FASTAPI
# ======================
venv/
backend/venv/
__pycache__/
*.pyc
.env

# ======================
# NODE / ASTRO
# ======================
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.astro/

# ======================
# LOGS
# ======================
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.idea/
.vscode/
